{% extends 'base.html' %}

{% block header %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.7/css/dataTables.bootstrap.min.css"/>
{% endblock %}

{% block content %}
    <div class="container">
        <table id="example" class="table" width="100%" cellspacing="0">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Position</th>
                    <th>Office</th>
                    <th>Extn.</th>
                    <th>Start date</th>
                </tr>
            </thead>
        </table>
    </div>
{% endblock %}

{% block javascript %}
    <script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.7/js/dataTables.bootstrap.min.js"></script>
    <script>
        // initialising dt table
        $(document).ready(function() {

            $('#example').DataTable({
                ajax: "{{ url_for('data_regular') }}",
                columns: [
                    { data: 0 },
                    { data: 1 },
                    { data: 2 },
                    { data: 3 },
                    { data: 4 },
                    { data: 5 }
                ],
                columnDefs: [
                    { "visible": false, "targets": [ 5 ] }
                ],
                filterDropDown: {
                    columns: [
                        {
                            idx: 1
                        },{
                            idx: 4
                        },{
                            idx: 2
                        },{
                            idx: 5,
                            title: "Salary"
                        }
                    ],
                    bootstrap: true
                }
            } );
        } );
    </script>
{% endblock %}
